@import './../../settings';
@import './../../mixins';

.skills
{
  .skill-add-form
  {
    margin-right: 30px;
  }

  .skill-list
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;

    .skill-list-item
    {
      margin-bottom: 5px;

      &.shrink
      {
        float: left;

        & + .shrink
        {
          margin-left: 10px;
        }
      }

      .skill-count
      {
        border-radius: 50%;
        border: 3px solid $gray;
        width: 35px;
        height: 35px;
        line-height: 29px;
        font-weight: bold;
        background-color: $gray-light;
        color: $dark-color;
        display: block;
        text-align: center;

        &.active
        {
          border-color: $primary-color;
          background-color: $primary-color;
          color: white;
        }

        &:hover
        {
          background-color: $gray;
          color: black;
        }
      }

      .skill-title
      {
        @include text-overflow()
        display: block;
        padding-left: 10px;
        line-height: 35px;
        font-weight: bold;
      }

      .skill-user-list
      {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li + li
        {
          margin-left: 5px;
        }
      }
    }
  }
}
