// Foundation
@import './settings';
@import './mixins';
@import 'foundation-apps/scss/foundation';

body
{

}

#app
{

}

.app-header
{
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid rgba(230,230,230,0.7);
  padding-right: 15px;

  .logo
  {
    a
    {
      padding: 15px;
      text-transform: uppercase;
      color: $dark-color;
      font-size: rem-calc(24);

      &:hover
      {
          color: $primary-color;
      }
    }
  }

  nav
  {
    ul.menu-bar
    {
      li a:hover
      {
        color: $light;
        background-color: $primary-color;
      }
    }
  }
}

.content
{
  padding: 15px;

  > div {
    width: 100%;
  }

  .card
  {
    > .card-divider
    {
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem-calc(14);
      color: $dark-color;
      border-bottom: 1px solid $gray-light;
    }

    .block-list li:first-child {
      border-top: none;
    }
  }
}

// Utilities

.bold
{
  font-weight: bold;
}

.ttu
{
  text-transform: uppercase;
}

.hidden
{
  display: none !important;
}

.notification
{
  padding: 10px;

  & + * {
    margin-top: 10px;
  }

  &.error
  {
    background-color: $alert-color;
    color: isitlight($alert-color);
  }

  &.success
  {
    background-color: $success-color;
    color: isitlight($success-color);
  }

  &.warning
  {
    background-color: $warning-color;
    color: isitlight($warning-color);
  }

  &.info
  {
    background-color: $info-color;
    color: isitlight($info-color);
  }
}

.modal-overlay.overlay-close-enabled
{
  cursor: pointer;

  .modal
  {
    cursor: default;
  }
}

.button + .button
{
  margin-left: 15px;
}

.label-heading
{
  text-decoration: underline;
}

.no-cursor
{
  cursor: default;
}

.suggestion-list
{
  list-style-type: none;
  padding-bottom: 15px;

  li {
    margin-right: 7px;

    .button {
      padding: 7px;
    }
  }
}
